body{background-color: green}
a{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;text-decoration:none}
a:visited,a:hover,a:active,a:focus{text-decoration:none}
.screen-reader-text{display:none}
.se-pre-con{position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:99999} 
.se-pre-con > *{position:fixed;top:50%;left:0;right:0;margin:0 auto;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
.scrollup{opacity:0.3;position:fixed;bottom:50px;right:50px;display:none;z-index:99999}
.breadcrumb{background-color:transparent;margin-bottom:0;padding:0}
.breadcrumb li+li:before{display:inline-block;content:'/';margin:0 5px}

#main-header,header,section,footer,#footer{position:relative}
#main-header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 28, 49, 0.4)), to(transparent));
    background-image: linear-gradient(180deg, rgba(11, 28, 49, 0.4), transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
#section-banner #video-con{position: fixed;top: 0;left: 0;width: 100%;height: 100%;}
#section-banner #banner-video{width: 100%;height: auto;}
/* #main-header #mega-menu-wrap-mainmenu #mega-menu-mainmenu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, 
#main-header #mega-menu-wrap-mainmenu #mega-menu-mainmenu > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, 
#main-header #mega-menu-wrap-mainmenu #mega-menu-mainmenu > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link{background-color: transparent;}
#main-header #mega-menu-wrap-mainmenu #mega-menu-mainmenu > li.mega-menu-item > a.mega-menu-link:hover{background-color: transparent;}
#main-header #mega-menu-wrap-mainmenu #mega-menu-mainmenu > li.mega-menu-megamenu > ul.mega-sub-menu {background-color: rgba(255,255,255,.9);} */
#main-header .mega-menu-wrap {border-bottom: 1px solid #ffffff;}
#main-header #mega-menu-wrap-mainmenu #mega-menu-mainmenu > li.mega-menu-item{margin-bottom: -3px;border-bottom: 5px solid transparent}
#main-header #mega-menu-wrap-mainmenu #mega-menu-mainmenu > li.mega-menu-item:hover{border-bottom-color: #ffffff}
#footer{height: 300px}
/* Extra small devices (portrait phones,less than 576px) */
@media (max-width:575.98px){}

/* Small devices (landscape phones,less than 768px) */
@media (max-width:767.98px){
}

/* Medium devices (tablets,less than 992px) */
@media (max-width:991.98px){}

/* Large devices (desktops,less than 1200px) */
@media (max-width:1199.98px){}

/*--------------------------------------------------------------------------------------------------------------*/

/*Small devices (landscape phones,576px and up)*/
@media (min-width:576px){
	#mega-menu-wrap-mainmenu{background-color: transparent;}
}

/* Medium devices (tablets,768px and up) */
@media (min-width:768px){
}

/* Large devices (desktops,992px and up) */
@media (min-width:992px){}

/* Extra large devices (large desktops,1200px and up) */
@media (min-width:1200px){}